//====================================
// MOBILE STYLES
//====================================

// ----- Helper Styles

.margin-b {
	margin-bottom: 15px;
}

.margin-t {
	margin-top: 15px;
}

.pad {
	padding-top: 5%;
	padding-bottom: 5%;
}

.tiny-text {
	font-size: .7em;
	margin: 0;
}

.kill-margin {
	margin: 0;
}

.icon {
	width: 80px;
}

.button-full-width {
	width: 100%;
	text-align: center;
}

.grow { 
	transition: all .3s ease-in-out; 

	&:hover { 
		transform: scale(1.05); 
		box-shadow: 1px 1px 20px #6f6f6f33;
	}
}


hr {
	border: solid 3px #eaeaea;
}

hr.orange-line {
	border: none;
	height: 15px; 
	background-color: #EF643A;
}

.guest-logos {
	display: flex;
    padding-top: 30px;
    align-items: center;

	img {
		width: 300px;
		margin: 0 30px;
	}
}

// HOME
#HomeHero {
	.orange-top {
		padding: 0px 0 20px 0;
		background-color: $orange;

		h1 {
			color: white;
		}
	}

	#Smartphone {
		display: none;
		position: absolute;
		bottom: 0px;
		width: 250px;
		right: 50px;
		transform: rotatez(15deg);
	}

	#countdown { 
		text-align: left;
	}
}

.app-sign-up {

	input {
		display: inline-block;
	}

	input[type="email"] {
		width: 70%;
	}
}

// -------- the 2019 homepage
	
#Home {
	h4 {
		color: $orange;
	}

	video {
		width: 100%;
		margin: 0 auto;
	}

	#quoteBlock {
		margin-top: 0px;
	}

	.section-Right {
		.image {
			border: 4px solid $orange;
		}

		img {
			transform: none;
			max-width: 100%;
		}
	}

	.section-Left {
		.image {
			border: 4px solid $orange;
		}

		img {
			transform: none;
			max-width: 100%;
		}
	}	
}

.sectionizer-header {
	text-align: center;
	position: relative;

	h2 {
		position: absolute;
		z-index: 2;
		left: 0px;
		right: 0px;
		font-size: 4em;
	}

	.title-background {
		opacity: 0.5;
		z-index: 0;
		width: 300px;
		margin: 0 auto;
	}
}

.the-world {
	background-image: url('../img/earth-01.svg');
	background-size: 80%;
	background-position: top;
	padding: 100px 0;
	text-align: center;
	background-repeat: no-repeat;
}

// ------ Landing Page for Viral Loops

#landing {
	grid-gap: 0px;
	width: auto;
	padding: 0;

	.align {
		display: flex;
		align-items: center;
	}

	.header {
		height: auto;
		background-color: transparent;
		width: 100%;

		&::before {
			opacity: 0;
		}

		h1 {
			color: white;
			max-width: 500px;
			margin: 0 auto;
		}

		.post-subline {
			//color: #717171;
		} 

		img {
			padding-bottom: 20px;
			max-width: 200px;
		}
	}

	article {
		color: #717171;
		max-width: 600px;
		margin: 0 auto;
		padding-top: 30px;

		strong {
			color: $orange;
		}

		p {
			padding-left: 30px;
			padding-right: 30px;	
		}
	}
}

#content.front-page .hero-inner {
    padding-top: 180px;
    padding-bottom: 310px;
}

.heading {
	margin: 0 auto;
	max-width: 450px;
	text-align: center;
	padding: 20px;
}

.subheading {
	color: $gray;
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 0 auto;
	margin-top: 15px;
	max-width: 450px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}

// New Homepage Video Header Styles

.header {
	padding: 100px 20px 200px 20px;
	color: white;
	text-align: center;
	position: relative;
	height: 550px;
	z-index: 1;

	&::before {
		content: " ";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: $orange;
		opacity: 0.75;
		z-index: -1;
	}

	.post-subline {
		font-size: 1.9em;
		line-height: 1.4em;
		max-width: 500px;
		margin: 0 auto;
	}
}

// Article Styles
.page-template-page-parishes article {
	background: url(../img/exoconcept_bg.jpg) no-repeat center top;

	.post-content {
		margin: 0 auto;
	}
}

video.small {
	width: 100%;
}

// Default Section Panel
.section-panel {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1;
	margin-top: 0px;
	margin-bottom: 0px;

	#orangeBlock {
		margin-top: 50px;
		padding: 30px;
		color: white;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: -40px;
			bottom: 40px;
			top: -40px;
			right: 40px;
			background-color: #e4e3e3;
			z-index: -1;
		}

		p {
			font-size: 3em;
			line-height: 1.2em;
		}

		a {
			position: absolute;
			padding: 10px;
			background-color: lighten($orange, 10%);
			bottom: -20px;
			right: 40px;
			margin: 0 auto;
			color: white;
			font-size: 0.8em;
		}
	}

	.block-orange {
		background-color: $orange;
	}

	.main-text {
		top-padding: 25px;
		color: $gray;
	}
}

.words {
	display: flex;
	align-items: center;
	background-color: #f2f2f2;
	padding: 20px;
}

.section-Right {	

	.image {
		grid-column: 1;
		grid-row: 1;
		perspective: 250px;
	    perspective-origin: right;
	}

	img {
		max-width: 80%;
    	transform: rotateY(15deg);
    	-webkit-transform: rotateY(15deg);
    }
}

.section-Left {
	.image {
		grid-column: 1;
		grid-row: 1;
		perspective: 250px;
    	perspective-origin: left;
	}

	img {
		max-width: 80%;
    	transform: rotateY(-15deg);
    	-webkit-transform: rotateY(-15deg);
    }
}

.section-single-quote {
	color: $gray;
	text-align: center;
	padding: 0px 20px;
	background-color: #f8f6f3;
	padding-bottom: 15px;
	margin-top: 100px;

	p {
		font-size: 1.8em;
		line-height: 1.3em;
		font-style: italic;
	}

	.callout-person {
		font-weight: 700;
		font-family: "Bitter";
		font-style: none;
	}

	img {
		width: 150px;
		margin-top: -60px;
		border-radius: 80px;
	}
}

.section-normal {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.section-three-quotes {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0px;
	margin-top: 200px;
	display: grid;
	text-align: center;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-ms-flex-pack: distribute;
	justify-content: space-around;

	img {
		width: 150px;
		margin-top: -100px;
		border-radius: 180px;
	}

	.quote {
		background-color: #F5EFEF;
		padding: 0px 50px 5px 50px;
		position: relative;
		margin-bottom: 100px;
	}

	p {
		text-align: left;
		color: $orange;
		line-height: 1.2em;
		font-weight: 700;
		margin-bottom: 60px;
	}

	.small-text {
		font-size: 1em;
		color: #a4a4a4;
		font-weight: 400;
		text-align: center;
		position: absolute;
		bottom: 10px;
		margin: 0 auto;
		left: 0px;
		right: 0px;
	}
}


// Contact Form
#Contact {
	width: 100%;
	margin-bottom: 0px;
	text-align: center;
	background-color: #f8f6f3;
	padding: 50px 20px 20px 20px;

	h2 {
		color: $orange;
		max-width: 750px;
		margin: 0 auto;
	}

	.wpcf7 {
		max-width: 500px;
		margin: 0 auto;
		margin-top: 50px;
		transition: 0.5s;

		input[type="submit"] {
			background-color: lighten(#222b33, 10%);
			transition: 0.5s;
		}
	}
}

.get-started img {
	max-width: 100%;
	width: 100%;
}

footer {
	background-color: #EF7449;
	padding: 20px;

	.row {
		padding-top: 60px;
		padding-bottom: 30px;
	}

	img {
		margin: 0;
	}
}

.footer-logo {
	color: white;
	text-align: center;

	img {
		margin-top: 0px;
		margin-bottom: 30px;
	}

	p {
		font-size: 0.9em;
	}
}

.menu-footer-navigation-container {

	> ul {

		> li {
			padding: 0 35px;
			display: block;

			> a {
				margin-bottom: 15px;
				color: #b66144;
			}

			ul {
				margin: 0px;

				li {
					margin-top: 15px;
				}

				li > a {
					font-weight: 300;
					color: white;
					padding-bottom: 3px;

					&:hover {
						border-bottom: 2px solid #EF643A;
					}
				}
			}
		}
	}
}