// Skymouse CSS Grid Styles

.grid-three-quarters {
	display: grid;
	z-index: 1;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 50px;
	grid-auto-rows: minmax(50px, auto);

	.ab {
		grid-column: 1;
	}

	.c {
		grid-column: 1;
		padding: 40px;
		text-align: center;
	}
}

.grid-half {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 0px;
	grid-auto-rows: minmax(50px, auto);
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 80px;
    grid-auto-rows: repeat(4, 1fr);
}

.grid-feature {
	padding-top: 100px;
	padding-bottom: 150px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 80px;
	grid-auto-rows: minmax(100px, auto);
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;

	.feature {
		text-align: center;
	}

	.feature img {
		width: 150px;
	}
}