//====================================
// Styles from the team at Skymouse
// GOES IN CUSTOM.SCSS
//====================================

// Helper Classes
.margin-b {
	margin-bottom: 15px;
}

.margin-t {
	margin-top: 15px;
}

.pad {
	padding-top: 10%;
	padding-bottom: 10%;
}

.icon {
	width: 80px;
}

.tiny-text {
	font-size: .7em;
	margin: 0;
}

.big-text {
	font-size: 1.5em;
	line-height: 1.3em;
}

.kill-margin {
	margin: 0;
}

#countdown {
	text-align: center;
	color: $orange;

	span {
		color: gray;
	}
}

.btn-header {
	margin: 0 auto;
	width: 150px;
	background-color: darken($orange, 10%);
	box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3);
	cursor: pointer;
	transform: translateY(0px);
	transition: all 0.2s ease-out;

	&:hover {
		background-color: darken($orange, 5%);
		box-shadow: 0 30px 60px -12px rgba(50,50,93,.15),0 18px 36px -18px rgba(0,0,0,.2);
		transition: all 0.2s cubic-bezier(.55,.06,.68,.19);
		transform: translateY(-2px);
	}
}

//====================================
// Home Template Styles
//====================================

.header-orange {
	padding-top: 200px;
	padding-bottom: 200px;
	color: white;
	text-align: center;
	position: relative;
	height: 550px;
	z-index: 1;

	h1 {
		color: white;
	}
	
	&::before {
	    content: "";
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    background-color: #EF643A;
	    opacity: 0.75;
	    z-index: -1;
	}
}

#HomeHero {
	.orange-top {
		padding: 50px 0 20px 0;
		background-color: $orange;

		p {
			color: white;
			width: 90%;
		}

		.btn-header {
			position: absolute;
			left: 10%;
			right: 10%;
			width: 80%;
		}

		section {
			padding: 0 20px;
		}
	}

	#countdown { 
		text-align: left;
	}
}
	
#Home {
	video {
		width: 100%;
		margin: 0 auto;
		padding: 20px
	}

	.sectionizer-header {
		max-width: 500px;
		padding: 0px 20px;
		padding-top: 40px;
		text-align: center;
		position: relative;
		margin: 0 auto;
	}	

	#quoteBlock {
		margin-top: 0px;
	}

	.section-Right img {
		transform: none;
	}

	.section-Left img {
		transform: none;
	}
}

.partners {
	display: grid;
	z-index: 1;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-gap: 40px;
	align-items: center;
	justify-items: center;
	padding: 20px;

	img {
		max-height: 50px;
	}
}

//====================================
// Landing Page Styles
//====================================

#landing {
	grid-gap: 0px;
	width: auto;
	padding: 0;

	// Landing pages
	.guest-logos {
		display: flex;
	    padding-top: 30px;
	    align-items: center;

		img {
			width: 200px;
			margin: 0 30px;
		}
	}

	.align {
		display: flex;
		align-items: center;
	}

	.header {
		height: auto;
		background-color: transparent;
		width: 100%;

		&::before {
			opacity: 0;
		}

		h1 {
			color: white;
			max-width: 500px;
			margin: 0 auto;
		}

		img {
			padding-bottom: 20px;
			max-width: 200px;
		}
	}

	article {
		color: #717171;
		max-width: 600px;
		margin: 0 auto;
		padding-top: 30px;

		strong {
			color: $orange;
		}

		p {
			padding-left: 30px;
			padding-right: 30px;	
		}
	}
}

.subheading {
	color: $gray;
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 0 auto;
	margin-top: 15px;
	max-width: 450px;
	text-align: center;
}

// Article Styles
.page-template-page-parishes article {
	background: url(../img/exoconcept_bg.jpg) no-repeat center top;

	h2 {
		text-align: center;
		color: $orange;
		font-size: 1.8em;
		padding-top: 50px;
	}

	.post-content {
		
		margin: 0 auto;
	}
}

// Default Section Panel
.panel {
	display: grid;
	z-index: 1;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 50px;
	grid-auto-rows: minmax(50px, auto);
	margin-top: 0px;
	margin-bottom: 0px;

	#orangeBlock {
		margin-top: 50px;
		padding: 30px;
		color: white;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: -40px;
			bottom: 40px;
			top: -40px;
			right: 40px;
			background-color: #e4e3e3;
			z-index: -1;
		}

		p {
			font-size: 3em;
			line-height: 1.2em;
		}

		a {
			position: absolute;
			padding: 10px;
			background-color: lighten($orange, 10%);
			bottom: -20px;
			right: 40px;
			margin: 0 auto;
			color: white;
			font-size: 0.8em;
		}
	}

	.block-orange {
		background-color: $orange;
	}

	.main-text {
		color: $gray;
	}
}

section {
	padding: 40px 20px;
}

.section-blank {
	padding: 0px;
	padding-bottom: 30px;
}

.section-special-bg {
	position: relative;

	&::after {
		content: " ";
		background-color: #f8f6f3;
		width: 100%;
		position: absolute;
		z-index: -1;
		top: 13%;
		bottom: 13%;
		left: 0px;
		display: block;
	}
}

.section-callout {
	background-color: #2C3842;

	h2 {
		color: #d2d2d2;
	}
}

.words {
	display: flex;
	align-items: center;
}

.section-Right {
	.words {
		grid-column: 1;
		grid-row: 1;
	}	

	.image {
		perspective: 250px;
	    perspective-origin: right;
	}

	img {
		max-width: 80%;
    	transform: rotateY(15deg);
    	-webkit-transform: rotateY(15deg);
    }
}

.section-Left {
	.image {
		perspective: 250px;
    	perspective-origin: left;
	}

	img {
		max-width: 80%;
    	transform: rotateY(-15deg);
    	-webkit-transform: rotateY(-15deg);
    }
}

// Section with Single Call out quote
#quoteCallout {
	color: $gray;
	text-align: center;
	padding: 0px 20px;
	background-color: #f8f6f3;
	padding-bottom: 15px;
	margin-top: 100px;

	p {
		font-size: 1.8em;
		line-height: 1.3em;
		font-style: italic;
	}

	img {
		width: 150px;
		margin-top: -60px;
		border-radius: 80px;
	}
}

// Section with Block Quotes
#quoteBlock {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0px;
	margin-top: 200px;
	display: grid;
	text-align: center;

	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 30px;
	grid-auto-rows: minmax(50px, auto);
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-ms-flex-pack: distribute;
	justify-content: space-around;

	img {
		width: 150px;
		margin-top: -100px;
		border-radius: 80px;
	}

	.quote {
		background-color: #F5EFEF;
		padding: 0px 50px 5px 50px;
		position: relative;
		margin-bottom: 100px;
	}
}

// Grid Section Background Color
.grid {
	background-color: #f8f6f3;
}

// Feature Grid Styles
#featureGrid {
	padding-top: 100px;
	padding-bottom: 150px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 80px;
	grid-auto-rows: minmax(100px, auto);
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;

	.feature {
		text-align: center;
	}

	.feature img {
		width: 150px;
	}
}

// Meet the Team Grid
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 40px;
    grid-auto-rows: repeat(4, 1fr);

	img {
		width: 80%;
	}
}

// Contact Form
#Contact {
	padding-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #f8f6f3;

	h1 {
		color: $orange;
		max-width: 750px;
		margin: 0 auto;
	}

	.wpcf7 {
		max-width: 500px;
		margin: 0 auto;
		margin-top: 50px;
		transition: 0.5s;

		input[type="submit"] {
			background-color: lighten(#222b33, 10%);
			transition: 0.5s;
		}
	}
}

// New Media Page Styles
.orange-line {
	height: 15px; background-color: #EF643A;
}

footer {
	background-color: $orange;
	padding: 20px;

	.row {
		padding: 60px;
	}

	img {
		margin: 0;
	}
}

.footer-logo {
	color: white;
	text-align: center;

	img {
		margin-top: 0px;
		margin-bottom: 30px;
	}

	p {
		font-size: 0.9em;
	}
}

.menu-footer-navigation-container {
	> ul {

		> li {
			padding: 0 35px;
			display: block;

			> a {
				margin-bottom: 15px;
				color: #b66144;
			}

			ul {
				margin: 0px;

				li {
					margin-top: 15px;
				}

				li > a {
					font-weight: 300;
					color: white;
					padding-bottom: 3px;

					&:hover {
						border-bottom: 2px solid #EF643A;
					}
				}
			}
		}
	}
}

// Accordian Block

.accordion {
	position: relative;
    border-radius: 3px;
    height: 484px;
}

.accordion > ul > li {
	position: relative;
    background-color: #ababab;
    margin-right: -0px;
    margin-bottom: -100px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 0px;
    margin-bottom: 100px;
} 

.accordion-title,
.accordion-select  {
    background-color: #e3e3e3;
    height: 95px;
    font-size: 15px;
}

.accordion-title::before {
	content: url("../img/arrow.svg");
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	background-color: #d8d8d8;
	z-index: 1;
	height: 100%;
	padding-top: 30px;
}

.accordion-title span {
    margin-bottom: 20px; 
    margin-left: 28px;
} 

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
    background-color: #cecece;
} 

 .accordion-title span  {	
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0px;
    line-height: 55px;
} 

.accordion-content {
    background-color: #eaeaea;
    color: $black;
    height: 100px;
    padding: 20px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 1px;
    margin-bottom: 1px;
} 

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    margin: 0;
    width: 50px;
	z-index: 10;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}
// --- End accordian styles

//====================================
// Tablet Styles
//====================================

@media only screen and (min-width: 600px) {

	#secondPanel {
		grid-column: 1;
	}

	.title-logo img {
		width: 50%;

	}

	#landing .align {
		height: 100vh;

		.header {
			padding: 0;
		}

		article {
			padding-top: 0;
		}
	}

	.footer-logo {
		text-align: left;
		float: left;
	}

	footer {
		padding: 0px;
	}
}

//====================================
// Desktop Styles
//====================================

@media only screen and (min-width: 1030px) {
	section.panel, section#quoteCallout {
		width: 1000px;
	}

	.section-Right {
		.words {
			grid-column: 2;
			grid-row: 1;
		}	
	}

	section {
		margin: 40px auto 100px auto; 
	}

	.menu-footer-navigation-container > ul {
		display: flex;
		float: right;
	}
} // end Desktop files