//====================================
// Styles from the team at Skymouse
// GOES IN CUSTOM.SCSS
//====================================

// New Media Page Styles
.orange-line {
	height: 15px; background-color: #EF643A;
}

.margin-b {
	margin-bottom: 15px;
}

.margin-t {
	margin-top: 15px;
}